In [2]:
import pandas as pd

In [3]:
df  = pd.read_csv('cleaned_insurance_claims_data.csv')

In [18]:
df.head()

,months_as_customer,age,policy_number,policy_bind_date,policy_state,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_zip,...,total_claim_amount,injury_claim,property_claim,vehicle_claim,auto_make,auto_model,auto_year,fraud_reported,tenure_bracket,age_group
0,328,48,521585,2014-10-17,OH,250/500,1000,1406.91,0,466132,...,71610,6510,13020,52080,Saab,92x,2004,Y,>10 years,30-50
1,228,42,342868,2006-06-27,IN,250/500,2000,1197.22,5000000,468176,...,5070,780,780,3510,Mercedes,E400,2007,Y,>10 years,30-50
2,134,29,687698,2000-09-06,OH,100/300,2000,1413.14,5000000,430632,...,34650,7700,3850,23100,Dodge,RAM,2007,N,>10 years,<30
3,256,41,227811,1990-05-25,IL,250/500,2000,1415.74,6000000,608117,...,63400,6340,6340,50720,Chevrolet,Tahoe,2014,Y,>10 years,30-50
4,228,44,367455,2014-06-06,IL,500/1000,1000,1583.91,6000000,610706,...,6500,1300,650,4550,Accura,RSX,2009,N,>10 years,30-50

In [16]:
df.columns

Index(['months_as_customer', 'age', 'policy_number', 'policy_bind_date',
       'policy_state', 'policy_csl', 'policy_deductable',
       'policy_annual_premium', 'umbrella_limit', 'insured_zip', 'insured_sex',
       'insured_education_level', 'insured_occupation', 'insured_hobbies',
       'insured_relationship', 'capital-gains', 'capital-loss',
       'incident_date', 'incident_type', 'collision_type', 'incident_severity',
       'authorities_contacted', 'incident_state', 'incident_city',
       'incident_location', 'incident_hour_of_the_day',
       'number_of_vehicles_involved', 'property_damage', 'bodily_injuries',
       'witnesses', 'police_report_available', 'total_claim_amount',
       'injury_claim', 'property_claim', 'vehicle_claim', 'auto_make',
       'auto_model', 'auto_year', 'fraud_reported', 'tenure_bracket',
       'age_group'],
      dtype='object')

In [13]:
# Define tenure bins and labels
tenure_bins = [0, 12, 36, 60, 120, float('inf')]  # Bins: 0-12, 13-36, etc.
tenure_labels = ['<1 year', '1-3 years', '3-5 years', '5-10 years', '>10 years']

# Create the 'tenure_bracket' column
df['tenure_bracket'] = pd.cut(df['months_as_customer'], bins=tenure_bins, labels=tenure_labels, right=False)

df.head(10)

,months_as_customer,age,policy_number,policy_bind_date,policy_state,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_zip,...,police_report_available,total_claim_amount,injury_claim,property_claim,vehicle_claim,auto_make,auto_model,auto_year,fraud_reported,tenure_bracket
0,328,48,521585,2014-10-17,OH,250/500,1000,1406.91,0,466132,...,YES,71610,6510,13020,52080,Saab,92x,2004,Y,>10 years
1,228,42,342868,2006-06-27,IN,250/500,2000,1197.22,5000000,468176,...,?,5070,780,780,3510,Mercedes,E400,2007,Y,>10 years
2,134,29,687698,2000-09-06,OH,100/300,2000,1413.14,5000000,430632,...,NO,34650,7700,3850,23100,Dodge,RAM,2007,N,>10 years
3,256,41,227811,1990-05-25,IL,250/500,2000,1415.74,6000000,608117,...,NO,63400,6340,6340,50720,Chevrolet,Tahoe,2014,Y,>10 years
4,228,44,367455,2014-06-06,IL,500/1000,1000,1583.91,6000000,610706,...,NO,6500,1300,650,4550,Accura,RSX,2009,N,>10 years
5,256,39,104594,2006-10-12,OH,250/500,1000,1351.10,0,478456,...,NO,64100,6410,6410,51280,Saab,95,2003,Y,>10 years
6,137,34,413978,2000-06-04,IN,250/500,1000,1333.35,0,441716,...,?,78650,21450,7150,50050,Nissan,Pathfinder,2012,N,>10 years
7,165,37,429027,1990-02-03,IL,100/300,1000,1137.03,0,603195,...,YES,51590,9380,9380,32830,Audi,A5,2015,N,>10 years
8,27,33,485665,1997-02-05,IL,100/300,500,1442.99,0,601734,...,YES,27700,2770,2770,22160,Toyota,Camry,2012,N,1-3 years
9,212,42,636550,2011-07-25,IL,100/300,500,1315.68,0,600983,...,?,42300,4700,4700,32900,Saab,92x,1996,N,>10 years

In [15]:
# Define age bins and labels
age_bins = [0, 30, 50, 65, float('inf')]  # Bins: <30, 30-50, 50-65, >65
age_labels = ['<30', '30-50', '50-65', '>65']

# Create the 'age_group' column
df['age_group'] = pd.cut(df['age'], bins=age_bins, labels=age_labels, right=False)

df.head(10)

,months_as_customer,age,policy_number,policy_bind_date,policy_state,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_zip,...,total_claim_amount,injury_claim,property_claim,vehicle_claim,auto_make,auto_model,auto_year,fraud_reported,tenure_bracket,age_group
0,328,48,521585,2014-10-17,OH,250/500,1000,1406.91,0,466132,...,71610,6510,13020,52080,Saab,92x,2004,Y,>10 years,30-50
1,228,42,342868,2006-06-27,IN,250/500,2000,1197.22,5000000,468176,...,5070,780,780,3510,Mercedes,E400,2007,Y,>10 years,30-50
2,134,29,687698,2000-09-06,OH,100/300,2000,1413.14,5000000,430632,...,34650,7700,3850,23100,Dodge,RAM,2007,N,>10 years,<30
3,256,41,227811,1990-05-25,IL,250/500,2000,1415.74,6000000,608117,...,63400,6340,6340,50720,Chevrolet,Tahoe,2014,Y,>10 years,30-50
4,228,44,367455,2014-06-06,IL,500/1000,1000,1583.91,6000000,610706,...,6500,1300,650,4550,Accura,RSX,2009,N,>10 years,30-50
5,256,39,104594,2006-10-12,OH,250/500,1000,1351.10,0,478456,...,64100,6410,6410,51280,Saab,95,2003,Y,>10 years,30-50
6,137,34,413978,2000-06-04,IN,250/500,1000,1333.35,0,441716,...,78650,21450,7150,50050,Nissan,Pathfinder,2012,N,>10 years,30-50
7,165,37,429027,1990-02-03,IL,100/300,1000,1137.03,0,603195,...,51590,9380,9380,32830,Audi,A5,2015,N,>10 years,30-50
8,27,33,485665,1997-02-05,IL,100/300,500,1442.99,0,601734,...,27700,2770,2770,22160,Toyota,Camry,2012,N,1-3 years,30-50
9,212,42,636550,2011-07-25,IL,100/300,500,1315.68,0,600983,...,42300,4700,4700,32900,Saab,92x,1996,N,>10 years,30-50

In [23]:
df[['capital-gains', 'capital-loss']].head()

   capital-gains  capital-loss
0          53300             0
1              0             0
2          35100             0
3          48900        -62400
4          66000        -46000

In [24]:
df.to_csv('Cleaned_insurance_claims_data.csv', index=False)